.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;

  .container {
    background: white;
    height: min-content;
    margin: 0 0 9rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 5px;

    p {
      font-size: 1rem;
      font-weight: 500;
    }

    button {
      margin-left: 1rem;
      width: 64px;
      height: 32px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 500;
      display: block;
      transition: 0.2s ease-in-out;

      @media (hover: hover) {
        &:hover {
          filter: brightness(0.9);
        }
      }

      &.yes {
        background: rgb(230, 12, 12);
        color: white;
      }
    }
  }
}
