.add-todo-form-container {
  width: 500px;
  max-width: 95%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background: white;

  .open-add-todo-modal {
    display: block;
    height: 40px;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 5px;
    outline: 0;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    background: rgb(30, 112, 235);
    transition: 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  input,
  select {
    padding: 0.5rem 1rem;
    height: 40px;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    font-size: 1rem;
    background: rgb(250, 251, 252);
    cursor: pointer;

    &:focus {
      outline: none;
      border: 1px solid rgb(30, 112, 235);
    }
  }

  .search-and-filter {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    input {
      margin-right: 0.5rem;
    }

    select {
      width: 200px;
      margin-right: 0.5rem;
    }

    button {
      display: block;
      color: white;
      height: 40px;
      padding: 0.5rem 1rem;
      border: 0;
      border-radius: 5px;
      outline: 0;
      font-size: 1rem;
      font-weight: 500;
      background: rgb(30, 112, 235);
      transition: 0.2s ease-in-out;

      @media (hover: hover) {
        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }

  .sort-todos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    select {
      width: 49%;
    }
  }
}
