* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
  height: stretch;
  height: -moz-available;
}

body {
  background: #3e5ebe;
  min-height: -webkit-fill-available;
  min-height: stretch;
  min-height: -moz-available;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  outline: none;
  cursor: pointer;
  display: block;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main h1 {
  font-size: 4em;
  margin: 2rem 0;
  color: white;
}

@media (max-height: 800px) {
  main h1 {
    margin: 1rem 0;
    font-size: 3rem;
  }
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.modal .container {
  background: white;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0 0 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 5px;
}

.modal .container .add-todo-form {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .container .add-todo-form input,
.modal .container .add-todo-form select {
  background: #fafbfc;
  border: 1px solid #ebebeb;
  padding: 0.5rem 1rem;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}

.modal .container .add-todo-form input:focus,
.modal .container .add-todo-form select:focus {
  outline: none;
  border: 1px solid #1e70eb;
}

.modal .container .add-todo-form .add-todo {
  margin-bottom: 0.5rem;
}

.modal .container .add-todo-form .date-and-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.modal .container .add-todo-form .date-and-category input {
  margin-right: 0.5rem;
  min-width: 170px;
}

.modal .container .add-todo-form .date-and-category label {
  margin-right: 0.5rem;
  font-weight: 500;
}

.modal .container .add-todo-form .date-and-category select {
  margin-right: 0.5rem;
}

.modal .container .add-todo-form .date-and-category .button {
  width: 40px;
}

.modal .container .add-todo-form button {
  display: block;
  color: white;
  background: #1e70eb;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  .modal .container .add-todo-form button:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }
}

.modal .container .add-todo-category-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.modal .container .add-todo-category-form input {
  background: #fafbfc;
  border: 1px solid #ebebeb;
  padding: 0.5rem 1rem;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}

.modal .container .add-todo-category-form input:focus {
  outline: none;
  border: 1px solid #1e70eb;
}

.modal .container .add-todo-category-form button {
  color: white;
  background: #1e70eb;
  border: 0;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  .modal .container .add-todo-category-form button:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }
}

.modal .container .delete-todo-confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .container .delete-todo-confirmation p {
  font-size: 1rem;
  font-weight: 500;
}

.modal .container .delete-todo-confirmation button {
  margin-left: 1rem;
  width: 64px;
  height: 32px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  .modal .container .delete-todo-confirmation button:hover {
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
  }
}

.modal .container .delete-todo-confirmation button.yes {
  background: #e60c0c;
  color: white;
}

.add-todo-form-container {
  background: white;
  border-radius: 5px;
  width: 500px;
  max-width: 95%;
  margin-bottom: 1rem;
  padding: 1rem;
}

.add-todo-form-container .open-add-todo-modal {
  display: block;
  color: white;
  background: #1e70eb;
  border: 0;
  border-radius: 5px;
  outline: 0;
  height: 40px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-bottom: 1rem;
}

@media (hover: hover) {
  .add-todo-form-container .open-add-todo-modal:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }
}

.add-todo-form-container input,
.add-todo-form-container select {
  background: #fafbfc;
  border: 1px solid #ebebeb;
  padding: 0.5rem 1rem;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.add-todo-form-container input:focus,
.add-todo-form-container select:focus {
  outline: none;
  border: 1px solid #1e70eb;
}

.add-todo-form-container .search-and-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-todo-form-container .search-and-filter input {
  margin-right: 0.5rem;
}

.add-todo-form-container .search-and-filter select {
  width: 200px;
}

.wrapper {
  width: 500px;
  max-width: 95%;
  padding: 2px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.wrapper .scrollbar-track {
  background: none !important;
}

.wrapper .todo-container {
  touch-action: none;
  -ms-touch-action: none;
  max-height: 40vh;
  background: white;
  position: relative;
}

.wrapper .todo-container h2 {
  text-align: center;
  padding: 1rem;
}

.wrapper .todo-container ul {
  list-style: none;
}

.wrapper .todo-container ul .todo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  .wrapper .todo-container ul .todo:hover {
    background: #eee;
  }
}

.wrapper .todo-container ul .todo.completed {
  opacity: 0.5;
}

.wrapper .todo-container ul .todo.completed label {
  text-decoration: line-through;
}

.wrapper .todo-container ul .todo button {
  margin-left: 1rem;
  background: #eb1e1e;
  color: white;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  .wrapper .todo-container ul .todo button:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }
}

.wrapper .todo-container ul .todo .container {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem 0 0.5rem 35px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper .todo-container ul .todo .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@media (hover: hover) {
  .wrapper .todo-container ul .todo .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
}

.wrapper .todo-container ul .todo .container .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #eee;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.wrapper .todo-container ul .todo .container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 8.5px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wrapper .todo-container ul .todo .container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.wrapper .todo-container ul .todo .container input:checked ~ .checkmark:after {
  display: block;
}

.pages-scrollbar {
  width: 500px;
  max-width: 95%;
  border-radius: 5px;
  background: white;
  margin-bottom: 3rem;
  overflow: hidden;
  padding: 2px;
}

.pages-scrollbar .page-numbers {
  width: 500px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0.5rem 1.5rem;
}

.pages-scrollbar .page-numbers button {
  display: block;
  margin: 0 0.25rem 0;
  background: #666666;
  color: white;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0.5rem 1rem;
  width: 50px;
  height: 45px;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  .pages-scrollbar .page-numbers button:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }
}
/*# sourceMappingURL=styles.css.map */